@media screen and (max-width: 1400px) and (min-width: 991px){
  
    .cv-kaprodi {
      height: 26rem;
      
    }
  
    .cv-kaprodi-text {
      height: 80px;
      font-size: 12px;
    }
    
  }
  @media screen and (max-width: 992px) and (min-width: 768px){
    
    .cv-kaprodi {
      height: 26rem;
    }
  
    .cv-kaprodi-text {
      height: 80px;
      font-size: 10px;
    }
    
  }
  
  @media screen and (max-width: 767px) and (min-width: 575px) {
    
    .cv-kaprodi {
      height: 25rem;
    }
  
    .cv-kaprodi-text {
      height: 80px;
      font-size: 12px;
    }
  }
  
  @media screen and (max-width: 575px) {
  
  }

  section { 
    height: 100vh; 
  }
  .tag {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
  }

  .tag.visible {
    opacity: 1;
    transform: translate(0, 0);
  }

  .hijau {
    background-color: green;
  }